{% extends 'base.html' %} {% block body %}
<body class="h-100 bg-primary-subtle">
    <!-- Login Form -->
    <div class="container h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
                <div class="card shadow mb-4 my-5">
                    <div class="card-title text-center border-bottom">
                        <h2 class="p-3">Data Produk</h2>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Nama Produk</th>
                                    <th scope="col">Harga</th>
                                    <th scope="col">Barcode Produk</th>
                                    <th scope="col">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for prod in product %}
                                <tr class="align-middle">
                                    <th scope="row">{{ loop.index }}</th>
                                    <td>{{ prod.product_name }}</td>
                                    <td>Rp <span id="numeric_price" class="numeric_price">{{ prod.product_price }}</span></td>
                                    <td>{{ prod.product_code }}</td>
                                    <td><a class="btn btn-danger" href="{{ url_for('delete_product', id=prod.id) }}">Hapus</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <hr />
                        <form action="" method="post">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="fw-bold text-center">• Tambah Data Produk •</h5>
                                </div>
                                <div class="card-body">
                                    <div class="row g-3 mb-4">
                                        <div class="col">
                                            <label for="product_name" class="form-label">Nama Produk</label>
                                            <input type="text" name="product_name" class="form-control" id="product_name" placeholder="" required />
                                        </div>

                                        <div class="col">
                                            <label for="product_price" class="form-label">Harga Produk</label>
                                            <div class="input-group">
                                                <span class="input-group-text bg-success-subtle" id="basic-addon1">Rp</span>
                                                <input type="text" name="product_price" id="product_price" class="form-control" placeholder="" aria-label="Harga Produk" aria-describedby="basic-addon1" required />
                                            </div>
                                        </div>

                                        <div class="col">
                                            <label for="product_code" class="form-label">Kode Produk</label>
                                            <input type="text" name="product_code" class="form-control" id="product_code" placeholder="" required />
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary" id="liveToastBtn">Tambah Produk <i data-feather="plus-circle"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <a href="{{ url_for('index') }}" class="nav-link fw-bold text-center link-underline-opacity-100 mb-5">&larr; Kembali ke beranda</a>
            </div>
        </div>
    </div>

    <!-- =============== TOAST =============== -->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="..." class="rounded me-2" alt="..." />
            <strong class="me-auto">Bootstrap</strong>
            <small>11 mins ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">{{ message }}</div>
    </div>
    {% endfor %} {% endif %} {% endwith %}
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/autonumeric/1.8.2/autoNumeric.js"></script>
<script>
    $("#product_price").autoNumeric("init", {
        aSep: ".",
        aDec: ",",
        aForm: true,
        vMax: "999999999",
        vMin: "-999999999",
    });
</script>
<script>
    function addCommasToNumeric(numeric) {
        // Convert the numeric value to a string.
        const numericString = numeric.toString();

        // Split the string into an array of characters.
        const characters = numericString.split("");

        // Reverse the array of characters.
        characters.reverse();

        // Iterate over the reversed array of characters and add a comma after every three characters, except for the last character.
        for (let i = 3; i < characters.length; i += 4) {
            characters.splice(i, 0, ",");
        }

        // Join the reversed array of characters back into a string.
        const formattedNumeric = characters.join("");

        // Reverse the string.
        return formattedNumeric.split("").reverse().join("");
    }

    const numericElements = document.querySelectorAll(".numeric_price");

    for (const numericElement of numericElements) {
        const numericValue = numericElement.textContent;
        const formattedNumericValue = addCommasToNumeric(numericValue);
        numericElement.textContent = formattedNumericValue;
    }
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var elements = document.getElementsByTagName("INPUT");
        for (var i = 0; i < elements.length; i++) {
            elements[i].oninvalid = function (e) {
                e.target.setCustomValidity("");
                if (!e.target.validity.valid) {
                    e.target.setCustomValidity("Form ini tidak boleh kosong!");
                }
            };
            elements[i].oninput = function (e) {
                e.target.setCustomValidity("");
            };
        }
    });
</script>
{% endblock %}
