:root {
    --main-bg: royalblue;
}

@font-face {
    font-family: Carre;
    src: url(./Carre.otf);
}

* {
    font-family: 'Poppins';
}

html {
    height: 100%;
}

.main-bg {
    background: var(--main-bg) !important;
}

.v-card {
    background-color: #fff;
}

.card_number {
    font-family: "Poppins";
    font-size: 1.75rem;
    position: fixed;
    transform: translate(0%, 12rem);
    /* right: 26.7rem;
    top: 21rem;
    text-transform: uppercase;
    text-align: left; */
}


.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.member-card {
    background: linear-gradient(to right, #e91e63, #9c27b0);
    color: #fff;
}

.member-card .card-title {
    font-weight: bold;
}

.member-card .card-text {
    margin-bottom: 0.5rem;
}

.member-card img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .card_number {
        font-size: 0.8rem;
        transform: translate(0%, 8rem);
    }
    .member-card {
        text-align: center;
    }

    .member-card img {
        margin: 1rem auto;
    }
}

@media screen and (min-height: 1920px) {
    .card_number {
        transform: translate(0%, 8rem);
    }
}