{% extends 'base.html' %} {% block body %}

<body class="main-bg">
    <!-- Login Form -->
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 col-sm-12 py-5">
                <div class="card shadow mb-4">
                    <div class="card-title text-center border-bottom">
                        <h2 class="p-3">Daftar</h2>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="fullname" id="fullname" placeholder="name@example.com" />
                                <label for="fullname">Nama Lengkap</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="panggilan" id="panggilan" placeholder="name@example.com" />
                                <label for="panggilan">Nama Panggilan</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="tel" class="form-control" name="hp" id="hp" placeholder="08xxxxxxxxxx" />
                                <label for="hp">No. HP</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="ktp" id="ktp" placeholder="82xxxxxxxxxxxxx" />
                                <label for="ktp">No. KTP</label>
                            </div>
                            <div class="input-group mb-3">
                                <div class="form-floating position-relative d-flex">
                                    <input type="password" class="form-control rounded-end-0" name="sandi" id="sandi"
                                        placeholder="Kata Sandi" />
                                    <label for="sandi">Kata Sandi</label>
                                    <button type="button" class="password-toggle rounded-start-0 px-3 btn btn-outline-secondary"
                                        onclick="togglePassword('sandi')">
                                        <i class="bi bi-eye-fill"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="d-grid mb-4">
                                <button type="submit" class="btn text-light main-bg">Daftar!</button>
                            </div>
                            <div class="text-center">Sudah menjadi member? <a href="{{ url_for('login') }}" class="nav-link link-primary fw-bold">Login disini</a></div>
                        </form>
                    </div>
                </div>
                <a href="{{ url_for('index') }}" class="nav-link link-light fw-bold text-center link-underline-opacity-100">&larr; Kembali ke beranda</a>
            </div>
        </div>
    </div>

    <script>
        function togglePassword(inputId) {
            let passwordInput = document.getElementById(inputId);
            let icon = passwordInput.parentNode.querySelector(".password-toggle i");

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                icon.classList.remove("bi-eye-fill");
                icon.classList.add("bi-eye-slash-fill");
            } else {
                passwordInput.type = "password";
                icon.classList.remove("bi-eye-slash-fill");
                icon.classList.add("bi-eye-fill");
            }
        }
    </script>
</body>

{% endblock body %}
