{% extends 'base.html' %}

{% block body %}

<body class="main-bg h-100">
    <!-- Login Form -->
    <div class="container h-100">
        <div class="row h-100">
            <div class="col d-flex flex-column justify-content-center align-items-center">
                <img class="w-25 mb-4" src="{{ url_for('static', filename='logo.webp') }}" alt="Logo Muara Group">
                <h1 class="text-light text-center mb-3">Anda berhasil terdaftar sebagai member!</h1>
                <p class="lead text-light text-center">Ini adalah username anda : <strong>{{username}}</strong></p>
                <p class="lead text-light text-center mb-4">Salin dan gunakan untuk login</p>
                <a href="{{ url_for('login') }}" class="btn btn-light">Lanjut ke halaman Login</a>
            </div>
        </div>
    </div>
</body>

{% endblock body %}